hr {
  background: #060b26;
}

.header-text {
    text-align: center;
    margin: 20px;
}

.center {
  margin-top: 40px !important;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.table-dark {
  background-color: #060b26 !important;
}

.doc-center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
