@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home, .user, .documents {
    display: top;
    text-align: center;
    margin-top: 40px !important;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin: auto;
    width: 50%;
    padding: 10px;
}
